/* for the image modal  */
/* for the image modal  */
/* for the image modal  */
/* for the image modal  */

.custom-modal-content {
    background-color: rgba(255, 255, 255, 0);
    /* White with transparency */
    border: none;
    /* Remove border */
    box-shadow: none;
    /* Remove shadow */
}

.custom-modal-content .modal-header,
.custom-modal-content .modal-body {
    background-color: rgba(255, 255, 255, 0);
    /* Transparent background */
}

.custom-modal-content .modal-body {
    padding: 0;
    /* Remove padding from modal body */
}

.custom-modal-content img {
    display: block;
    margin: 0 auto;
}

.custom-modal-content .btn-close {
    filter: invert(1) grayscale(100%) brightness(200%);
    /* Make the cross white */
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* for the bootstrap  */

/* Bootstrap's .thead-dark class */
.thead-dark {
    color: #fff;
    /* Text color: white */
    background-color: #343a40;
    /* Background color: dark gray */
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.d-none {
    display: none;
}